<!DOCTYPE html>
<html lang="en">
<head>
    <!-- this page home -->
    <!-- this page home -->
    <!-- this page home -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- TODO     
        -
        - 
    -->
    <div id="vue-app-wrapper">
        <div id="admin-page-wrapper">

            <!--! TEST NAV-->
            <div class="container"> 
                <div class="test-nav">
                    <a class="input-button" href="admin.html">Admin Portal</a>
                    <a class="input-button" href="driver.html">Driver Portal</a>
                    <a class="input-button" href="index.html">landing Portal</a>
                </div>
                <p style="color:red;">above for testing purposes</p>
            </div>
            
            <!--! admin LANDING form-->
            
            <div id="admin-portal" v-if="page=='landingContainer'">    
                    <button class="input-button" v-on:click="changePageDisplay('allDrivers')">All Drivers</button>
                    <button class="input-button" v-on:click="changePageDisplay('addDriver')">Add New Driver</button>
            </div>
                
            
            <div class="container" v-if="page=='allDrivers'">
                
            </div>

            <!--! new DRIVER form-->
            <div class="form-container" v-if="page=='addDriver'">
                <!--*create account USER form-->
                <div class="form" id="createAccount">
                    <div class="container">
                        <span class="form-menu-selection">
                            <img class="hamburger-menu" src="/icons/navigation-menu.svg" alt="menu">
                            <button class="cancel-button" v-on:click="changePageDisplay('landingContainer')">Cancel</button> 
                        </span>
            
                        <h1 class="form-title">New Driver</h1>
                        <div class="form-message form-message-error"></div> <!--* error message-->

                        <!-- EMAIL INPUT FIELD-->
                        <div class="form-input-group">
                            <input type="text" id="signUpEmail" class="form-input" placeholder="Email" autofocus>
                            <div class="form-input-error-message"></div>
                        </div>

                        <div class="form-input-group">
                            <input type="text" class="form-input" placeholder="First Name">
                            <div class="form-input-error-message"></div>
                        </div>

                        <div class="form-input-group">
                            <input type="text" class="form-input" placeholder="Last Name">
                            <div class="form-input-error-message"></div>
                        </div>

                        <div class="form-input-group">
                            <input type="text" class="form-input" placeholder="password">
                            <div class="form-input-error-message"></div>
                            <p class="subscript-gray">Give this password to your driver</p>
                        </div>

                        <!--submit and links-->
                        <button class="form-button" v-on:click="addNewUser()">Continue</button>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
    <script src="vue.js"></script>
    
</body>
</html>